[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
requests = "*"
bs4 = "*"
aiofile = "*"
aiohttp = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
