<!DOCTYPE html>

<HTML>

<HEAD>
    {% load static %}
    <meta charset="utf-8">
    <TITLE>Coindex</TITLE>
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
</HEAD>

<BODY>
    <B></B>
    <P></P>
    <div id="box0">
        <a></a>
    </div>
    <div id="search"></div>

    <div id="coindex">
        <a href="."><img src="{% static 'coindex.png' %}"></a>
    </div>
    <div id="category">
        <a href="."><img src="{% static 'cate.jpg' %}"></a>
    </div>
    <div id="home">
        <a href="."><img src="{% static 'home.png' %}"></a>
    </div>
    <div id="sub">
        <a href="../subscription"><img src="{% static 'sub.png' %}"></a>
    </div>
    <div id="set">
        <a href="."><img src="{% static 'set.png' %}"></a>
    </div>
    <div id="favorite">
        <a href="."><img src="{% static 'favo.png' %}"></a>
    </div>


    <div id="box7"></div>
    <div id="videos">
        <a href="../video">videos</a>
    </div>
    <div id="box8"></div>
    <div id="comics">
        <a href=".">comics</a>
    </div>
    <div id="box9"></div>
    <div id="streams">
        <a href=".">streams</a>
    </div>
    <div id="box10"></div>
    <div id="others">
        <a href=".">others</a>
    </div>
    <div id="box11">
        <a href="#"></a>
    </div>
</BODY>

</HTML>
